<!-- Organization About/Contact Page HTML -->
<div itemscope itemtype="http://schema.org/LocalBusiness">
	<meta itemprop="description" content="Premier container and packaging distributors in the upper midwest with locations in Illinois, Michigan, and Minnesota.">
	<link itemprop="url" href="http://foxvalleycontainers.com" rel="author"/>
	<a itemprop="url" href="http://foxvalleycontainers.com"><span itemprop="name"><strong>Fox Valley Containers</strong></span></a>
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">150 Prairie Lake Rd. Unit B</span>
		<div>
			<span itemprop="addressLocality">East Dundee</span>,
			<span itemprop="addressRegion">IL</span>
		</div>
		<span itemprop="postalCode">60118</span>
		<span itemprop="addressCountry">United States</span>
	</div>
  Phone: <span itemprop="telephone">(815) 880-5223</span>
</div>